<div style="font-family: Arial, sans-serif; color: #333">
  <h2 style="color: #d46f30">Welcome to Pocket Career, {{ first_name }}!</h2>
  <p>
    Thank you for signing up and registering with us. We're excited to have you
    on board!
  </p>
  <p style="font-weight: bold">
    We appreciate your trust in Pocket Career. If you have any questions, please
    don't hesitate to
    <a href="mailto:support@pochehr.com" style="color: #a1cce5">reach out</a>.
  </p>
  <p>Click the link below to authenticate your account:</p>
  <p>
    <a
      href="https://career-in-your-pocket-dev.vercel.app/welcome?token={{ token }}&email={{ email }}"
      style="color: #1b1b1b; font-weight: bold"
    >
      Verify Your Email
    </a>
  </p>
  <p>Best Regards,<br />The Pocket Career Team</p>
</div>
